body{
  background: url('./assets/menu__background.jpg') repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.bg-darker{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 12, 19, 0.6);
  z-index: -1;
}

.side-menu{
  position: fixed;
  width: 3.5em;
  height: 100%;
}
.side-menu > div > div{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  justify-content: space-around;
  align-items: center;
}
.side-menu-games{
  height: 25vh;
  margin-top: 7.2rem;
}

.side-menu img{
  width: 4vh;
}

.side-menu-other{
  height: 18vh;
}

.side-menu-other :not(:first-child){
  width: 3.5vh;
}

.side-menu-misc{
  position: absolute;
  bottom: 2rem;
  height: 12vh;
}

.side-menu-misc div{
  text-align: center;
  width: 4vh;
}

.side-menu-misc img{
  width: 2vh;
}
/* .vertical-line{
  width: 2px; 
  height: 100px;
  background-color: white;
  border: none;
  
} */
