@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  font-family: "Rajdhani", serif;
  font-size: 2vh;
  color: white;
  background: url('./assets/menu__background.jpg') repeat center center fixed;
  background-size: cover;
}

.bg-darker{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 12, 19, 0.6);
  z-index: -1;
}

.side-menu{
  position: fixed;
  width: 3.5em;
  height: 100%;
}

.side-items-container{
  display: flex;
  width: auto;
  align-items: center;

}
.side-menu p{
  width: max-content;
  background-color: black;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 1vh;
  font-size: x-small;
  visibility: hidden;
  display: none;
  transition: visibility 0.1s linear;
}
.side-items-container img{
  opacity: 0.5;
  transition: opacity 0.1s cubic-bezier(.455, .03, .515, .955);
}
.side-items-container img:hover{
  opacity: 1;
}
.side-items-container:hover p{
  display: inline-block;
  visibility: visible;
}
.side-menu > div > div{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  justify-content: space-around;
}
.side-menu-games{
  height: 25vh;
  margin-top: 7.2rem;
}

.side-menu img{
  width: 4vh;
  margin: 0px;
  display: block;
}

.side-menu-other{
  height: 18vh;
}

.side-menu-misc{
  position: absolute;
  bottom: 2rem;
  height: 12vh;
}

.side-menu-misc div{
  text-align: center;
  width: 4vh;
}

.side-menu-misc img{
  width: 2vh;
}
/* .vertical-line{
  width: 2px; 
  height: 100px;
  background-color: white;
  border: none;
  
} */
